# kotlin
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# macos
.DS_Store

# python
__pycache__
last

/data/rss_updates.json

.env

# Rust
target

one.sh
